* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(22, 23, 23); */
    background-image: linear-gradient(to top, rgb(22, 23, 23), rgb(34, 57, 87));
    overflow: hidden;
}

body {
    font-family: Georgia, serif;
    color: #333;
    margin: 1em;
}

#header {
    z-index: 999;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: xx-large;
    color: rgb(30, 215, 96);
    font-weight: bold;
}

#spotify-logo {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.neonText {
    color: #fff;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

.neonBox {
    background-color: rgb(0, 0, 0);
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px 0px rgba(25, 20, 20);
}

#bbScore {
    font-size: 150%;
}

#user {
    top: 10vh;
    font-size: 200%;
}

#song-box {
    font-size: 200%;
}

#selected-song {
    font-size: 150%;
}

#title_timeline {
    font-size: 150%;
}

#user-info {
    position: absolute;
    left: 0vw;
    top: 0vh;

    width: 23vw;
    height: 75vh;
}

#table-scores {
    position: relative;
    left: 0vw;
    top: 15vh;

    width: 100%;
    /*height: auto;*/

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#song-info {
    z-index: 1;
    position: absolute;
    left: 24vw;
    top: 8vh;
    bottom: 35vh;

    width: 40vw;
    height: 62vh;

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;

}

#song-graph {
    position: absolute;
    bottom: 14vh;
    left: 40%;
    transform: translateX(-50%);
    height: 350px;
}

#spider-chart {
    z-index: 999;
    position: absolute;
    right: 2vw;
    /*top: 10vh;*/
    bottom: 35vh;

    /*transform: translate(-10%, 0);*/
    width: 50vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    scale: 1;

}



#timeline {
    position: absolute;
    left: 0vw;
    bottom: 0vh;

    width: 100vw;
    height: 28vh;

    background-color: rgb(25, 20, 20);
    box-shadow: 6px 6px 6px 0px rgba(25, 20, 20);
}

#timeline-graph {
    height: 100%;
    width: auto;

    background-color: rgb(25, 20, 20);
}

#user-scores {
    color: white;
    font-size: 1em;
}

#checklist {
    color: white;
    font-size: 1em;
}

.checkboxDash {
    background-color: green;
}



/* Style for unchecked checkboxes */
label>input[type=checkbox]:not(:checked)+label {
    color: green;
    /* Text color */
    background-color: black;
    /* Background color */
}

/* Style for checked checkboxes */
label>input[type=checkbox]:checked+.checkboxDash {
    color: black;
    /* Text color */
    background-color: green;
    /* Background color */
}