* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(22, 23, 23); */
    background-image: linear-gradient(to top, rgb(22, 23, 23), rgb(34, 57, 87))
}

body {
    font-family: Georgia, serif;
    color: #333;
    margin: 1em;
}

.neonText {
    color: #fff;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

.neonBox {
    background-color: rgb(0, 0, 0);
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px 0px rgba(25, 20, 20);
}

#bbScore {
    font-size: 150%;
}

#user {
    top: 10vh;
    font-size: 200%;
}

#song-box {
    font-size: 200%;
}

#selected-song {
    font-size: 150%;
}

#title_timeline {
    font-size: 150%;
}

#user-info {
    position: absolute;
    left: 0vw;
    top: 0vh;

    width: 23vw;
    height: 75vh;
}

#table-scores {
    position: relative;
    left: 0vw;
    top: 15vh;

    width: 100%;
    /*height: auto;*/

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#song-info {
    position: absolute;
    left: 23vw;
    /*top: 12vh;*/
    bottom: 35vh;

    width: 28vw;
    height: 62vh;

    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#spider-chart {
    position: absolute;
    right: 2vw;
    /*top: 10vh;*/
    bottom: 35vh;

    /*transform: translate(-10%, 0);*/
    width: 50vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    scale: 1;

}

/*#spyder-graph {
    height: 160%;
    bottom: 35vh;
}*/

#timeline {
    position: absolute;
    left: 0vw;
    bottom: 0vh;

    width: 100vw;
    height: 28vh;

    background-color: rgb(25, 20, 20);
    box-shadow: 6px 6px 6px 0px rgba(25, 20, 20);
}

#timeline-graph {
    height: 100%;
    width: auto;

    background-color: rgb(25, 20, 20);
}

#user-scores {
    color: white;
    font-size: 1em;
}

#checklist {
    color: white;
    font-size: 1em;
}

.checkboxDash {
    /* display: inline-block; */
    /* width: 90%; */
    /* height: 30px; */
    background-color: green;
}



/* Style for unchecked checkboxes */
label>input[type=checkbox]:not(:checked)+label {
    color: green;
    /* Text color */
    background-color: black;
    /* Background color */
}

/* Style for checked checkboxes */
label>input[type=checkbox]:checked+.checkboxDash {
    color: black;
    /* Text color */
    background-color: green;
    /* Background color */
}



/* #title-area {
    position: absolute;
    left: 15vw;
    top: 20px;

    width: 100%;
    height: 25vh;
    text-align: left;
    font-size: x-large;
}

#title {
    text-align: left;
    font-size: x-large;
} 

#spotifyIcon {
    left: 10vw;
    height: 100%;
    width: auto;
}

#header {
    width: 100vw;
    height: 10vh;

    position: absolute;
    top: 0vh;
    left: 0vw;

    color: white;
    font-size: 2em;
    text-align: center;
} */