* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(41, 40, 40);
}

body {
    font-family: Georgia, serif;
    color: #333;
    margin: 1em;
}

.neonText {
    color: #fff;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

.neonBox {
    background-color: rgb(0, 0, 0);
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px 0px rgba(25, 20, 20);
}

#bbScore {
    font-size: 200%;
}

#userName {
    font-size: 270%;
}

#user-info {
    position: absolute;
    right: 2vw;
    top: 15vh;

    width: 28vw;
    height: 50vh;
}

#song-info {
    position: absolute;
    left: 36vw;
    top: 15vh;

    width: 28vw;
    height: 50vh;
}

#spider-chart {
    position: absolute;
    left: 2vw;
    top: 15vh;

    /*transform: translate(-10%, 0);*/
    width: 28vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    scale: 1;

}

/* #spyder-graph {
    height: 120%;
} */

#timeline {
    position: absolute;
    left: 0vw;
    bottom: 0vh;

    width: 100vw;
    height: 28vh;
}

#timeline-graph {
    height: 100%;
    width: auto;
}

#title-area {
    position: absolute;
    right: 30px;
    top: 20px;

    width: 100%;
    height: 10vh;
    text-align: right;
    font-size: x-large;
}

#header {
    width: 100vw;
    height: 10vh;

    position: absolute;
    top: 0vh;
    left: 0vw;

    color: white;
    font-size: 2em;
    text-align: center;
}

#checklist {
    color: white;
    font-size: 1em;
}