* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    font-family: Georgia, serif;
    color: #333;
    margin: 1em;
}

.neonText {
    color: #fff;
    /* text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa; */
}

.neonBox {
    background-color: rgb(0, 0, 0);
    border: solid rgba(255, 255, 255, 0.861) 1px;
    border-radius: 50px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #ffffff,
        0 0 0.4rem #1DB954,
        0 0 0.8rem #1DB954,
        0 0 0.8rem #1DB954,
        inset 0 0 1.0rem #1DB954;
}

#bbScore {
    font-size: 200%;
}

#userName {
    font-size: 270%;
}

#user-info {
    position: absolute;
    right: 30px;
    top: 15vh;

    width: 29vw;
    height: 50vh;
}

#song-info {
    position: absolute;
    left: 32vw;
    top: 15vh;

    width: 29vw;
    height: 50vh;
}

#spider-chart {
    position: absolute;
    left: 2vw;
    top: 15vh;

    width: 29vw;
    height: 50vh;
}

#spyder-graph {
    height: 100%;
}

#timeline {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 20px;

    width: auto;
    height: 28vh;
}

#timeline-graph {
    height: 100%;
    width: auto;
}

#title-area {
    position: absolute;
    right: 30px;
    top: 20px;

    width: 100%;
    height: 10vh;
    text-align: right;
    font-size: x-large;
}