<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/test.css">

</head>

<body>

    <!-- User Info -->
    <div id="user-info" class="neonBox">
        <div id="info-header" class="neonText">Clara Fall</div>
        <div class="neonText">Basic bitch score:</div>
        <div id="bbScore" class="neonText">99</div>
    </div>

    <!-- Spider Chart -->
    <div id="spider-chart" class="neonBox">

    </div>

    <!-- Song Info -->
    <div id="song-info" class="neonBox">
        <div id="info-song" class="neonText">Track Information</div>
        <div id="selected-song" class="neonText">selected song</div>

    </div>

    <!-- Time Line -->
    <div id="timeline" class="neonBox">
        <div python_dash_range_slider></div>

    </div>

    <script src="../static/js/test.js"></script>
</body>

</html>